<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' lang="pt-br">
    <title>Fornecedores</title>
</head>
<body>
    <h1>Fornecedores</h1>
    {% if suppliers_list %}
        <table border="1">
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>CNPJ</th>
                <th>Endereço</th>
                <th>Ação</th>
            </thead>
        {% for x in suppliers_list %}
        <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.telephone }}</td>
        <td>{{ x.cnpj }}</td>
        <td>{{ x.address }}</td>
        <td><a href="{% url 'suppliers:delete' x.id %}">Deletar</a></td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Não existem fornecedores cadastrados.</p>
    {% endif %}
    <br>
    <a href="{% url 'suppliers:supplierregistry'%}">Cadastrar Fornecedor</a>
</body>
</html>