<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Produto em Fornecedor</title>
</head>
<body>
    <h1>Cadastro de Produto em Fornecedor</h1>
    {% if myproducts %}
    <form action="{% url 'suppliers:register_products_to_supplier' %}" method="POST">
        {% csrf_token%}
        <table border="1">
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Marca</th>
                <th>Estoque</th>
                <th>Vendidos</th>
                <th>Selecionar</th>
            </thead>
                {% for x in myproducts%}
                    <tr>
                        <td>{{x.id}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.brand}}</td>
                        <td>{{x.stock}}</td>
                        <td>{{x.sold}}</td>
                        <td>
                            <input type="checkbox" name="checked-{{forloop.counter0}}" id="checked-{{forloop.counter0}}" value="{{x.id}}">
                        </td>
                    </tr>
                {% endfor %}
        </table>
        <input type="hidden" name="supId" value="{{supplierId}}">
        <br>
        <input type="submit" name="cadastrar" id="cadastrar" value="Cadastrar Selecionados">
    </form>
    {% else %}
        <p>Não existem produtos cadastrados e que sejam diferentes dos que já estejam associados ao Fornecedor.</p>
    {% endif %}
    <br>
    <form action="{% url 'suppliers:index'%}" style="display: inline;">
        <input type="submit" value="Voltar ao index" />
    </form>
</body>
</html>