{% include 'products/base.html' %}

<div class="w3-margin">

  <h1 class='w3-text-green'>Adicionar Produto</h1>


  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <form action="{% url 'products:savenewproduct' %}" method="post">
  {% csrf_token %}
  Nome:<br>
  <input name="name">
  <br><br>
  Marca:<br>
  <input name="brand">
  <br><br>
  Preço:<br>
  <input name="price">
  <br><br>
  <input type="submit" value="Cadastrar" class="w3-button w3-lime w3-border w3-round-xlarge w3-margin-top">
  <p>
      <a href="{% url 'products:index' %}" class="w3-button w3-red w3-border w3-round-xlarge w3-margin-top">Voltar</a>
  </p>
  </form>

</div>