<div class="w3-row w3-large w3-light-green">
    <div class="w3-col s2">
        <a href="{% url 'products:index'%}" class="w3-button w3-block  w3-indigo">Produtos</a>
    </div>
    <div class="w3-col s3">
        <a href="{% url 'suppliers:index'%}" class="w3-button w3-block">Fornecedores</a>
    </div>
</div>

<div class="w3-content" style="max-width:1100px; margin-top:10px;">
    <div class="w3-panel w3-center">
        <img src="http://ricardo.bib.br/logo_t.png" class="w3-center" width="200px" >
    </div>