<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Pesquisa de Produto</title>
    </head>
<body>

    <h1>Pesquisa de Produto</h1>

    {% if myproductsearch %}
        <table border="1">
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Vendidos</th>
            </thead>
        {% for x in myproductsearch %}
        <tr>
        <td><a href="{% url 'products:update' x.id %}">{{ x.id }}</a></td>
        <td>{{ x.name }}</td>
        <td>{{ x.brand }}</td>
        <td>{{ x.price }}</td>
        <td>{{ x.stock }}</td>
        <td>{{ x.sold }}</td>
        <td><a href="{% url 'products:delete' x.id %}">delete</a></td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Não existem produtos cadastrados com este nome.</p>
    {% endif %}

    <p>
        <a href="{% url 'products:index' %}">Voltar para o index</a>
    </p>

</body>
</html>