<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Atualizar Produto</title>
    </head>
<body>

    <h1>Atualizar Produto</h1>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <form action="{% url 'products:updaterecord' myproduct.id %}" method="post">
    {% csrf_token %}
    Nome:<br>
    <input name="name" value="{{ myproduct.name }}">
    <br><br>
    Marca:<br>
    <input name="brand" value="{{ myproduct.brand }}">
    <br><br>
    Preço:<br>
    <input name="price" value="{{ myproduct.price }}">
    <br><br>
    Estoque:<br>
    <p>
        {{ myproduct.stock }}
    </p>
    Vendidos:<br>
    <p>
        {{ myproduct.sold }}
    </p>
    <h3>Fornecedores do Produto</h3>
    {%if myproduct.supplier_set.all %}
        <table border="1">
            <thead>
                <th>Nome</th>
                <th>Telefone</th>
                <th>CNPJ</th>
                <th>Endereço</th>
            </thead>
            {% for supplier in myproduct.supplier_set.all%}
                <tr>
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.telephone}}</td>
                    <td>{{supplier.cnpj}}</td>
                    <td>{{supplier.address}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else%}
        <p>Não existem Fornecedores para esse Produto</p>
    {% endif %}
    <input type="submit" value="Atualizar">
    </form>

    {% if myproduct.supplier_set.all %}
    <form action="{% url 'products:suppliers_of_product' myproduct.id%}">
        <input type="submit" name="comprarEstoque" value="Comprar Estoque">
    </form>
    {% else%}
        <p>Para comprar estoque, <a href="{% url 'suppliers:index' %}">associe um Fornecedor à esse Produto</a></p>
    {% endif %}
    <p>
        <a href="{% url 'products:index' %}">Voltar para o index</a>
    </p>
</body>
</html>