<h1>Atualizar Produto</h1>

<form action="updaterecord/{{ myproduct.id }}" method="post">
{% csrf_token %}
Nome:<br>
<input name="name" value="{{ myproduct.name }}">
<br><br>
Marca:<br>
<input name="brand" value="{{ myproduct.brand }}">
<br><br>
Preço:<br>
<input name="price" value="{{ myproduct.price }}">
<br><br>
Estoque:<br>
<p>
    {{ myproduct.stock }}
</p>
Vendidos:<br>
<p>
    {{ myproduct.sold }}
</p>
<br>
<input type="submit" value="Atualizar">
<p>
    <a href="{% url 'products:index' %}">Voltar para o index</a>
</p>
</form>